$primary-color: #495057;
$primary-dark-color: #191919;
$black-color: #222;
$primary-light-color: #d8dee9;
$light-grey-color: #e5e9f0;
$white-color: #eceff4;
$green-color: #a3be8c;
$dark-green-color: #8fbcbb;
$red-color: #bf616a;
$blue-color: #5e81ac;
$light-blue-color: #88c0d0;
