@import "../util.module.scss";

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.logo {
  width: 100%;
  flex: 7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.logo i {
  outline: none;
  text-decoration: none;
  color: $white-color;
  font-size: 1.4rem;
  transition: 0.3s;
}

.logo i:hover {
  color: $red-color;
  transform: scale(1.3);
}

.logo .activeLogo {
  color: $red-color;
  transform: scale(1.3);
}

.social {
  width: 100%;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.socialBtn {
  position: relative;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: $white-color;
}

.socialBtn:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  transform: scale(0);
  background: $white-color;
  transition: 0.5s ease-in-out;
  z-index: 1;
}

.socialBtn i {
  z-index: 10;
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
}

.socialBtn:hover > i {
  color: $primary-dark-color;
  transform: rotate(360deg);
  font-size: 1.7rem;
}

.socialBtn:hover.socialBtn:before {
  transform: scale(1);
}
