html,
body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background: #222;
  color: #eceff4;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

.app-container {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: flex;
}

.navbar-section {
  width: 3.5rem;
  height: 100vh;
  background-color: #191919;
}

.content-section {
  flex: 1;
}
